/node_modules

/public/dist
/public/images
/public/plugins
/public/css/app.css.map
public/js/vue.js
public/storage


/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.buildpath
.project
/.settings
/dbs

